In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [1]:
import pandas as pd
import numpy as nm
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import re
import nltk
import string

In [3]:
train=pd.read_csv("../input/nlp-getting-started/train.csv")
test=pd.read_csv("../input/nlp-getting-started/test.csv")

In [4]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [5]:
train.tail()

,id,keyword,location,text,target
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [6]:
train['target'].unique()

array([1, 0])

In [7]:
train[train['target']==1].head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [8]:
train[train['target']==0].head()

    id keyword location                          text  target
15  23     NaN      NaN                What's up man?       0
16  24     NaN      NaN                 I love fruits       0
17  25     NaN      NaN              Summer is lovely       0
18  26     NaN      NaN             My car is so fast       0
19  28     NaN      NaN  What a goooooooaaaaaal!!!!!!       0

In [9]:
train[train['target']==1].count()

id          3271
keyword     3229
location    2196
text        3271
target      3271
dtype: int64

In [10]:
train[train['target']==0].count()

id          4342
keyword     4323
location    2884
text        4342
target      4342
dtype: int64

In [11]:
test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [12]:
test.tail()

,id,keyword,location,text
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...

In [13]:
submission=pd.read_csv("../input/nlp-getting-started/sample_submission.csv")
submission.head()

   id  target
0   0       0
1   2       0
2   3       0
3   9       0
4  11       0

In [14]:

train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [15]:
train.drop('keyword',axis=1,inplace=True)

In [16]:
train

,id,location,text,target
0,1,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...
7608,10869,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [17]:
train.drop('location',axis=1, inplace=True)
train.head()

   id                                               text  target
0   1  Our Deeds are the Reason of this #earthquake M...       1
1   4             Forest fire near La Ronge Sask. Canada       1
2   5  All residents asked to 'shelter in place' are ...       1
3   6  13,000 people receive #wildfires evacuation or...       1
4   7  Just got sent this photo from Ruby #Alaska as ...       1

In [18]:
def word_count(sent):
    return len(sent.split())
train['word_count'] = train.text.apply(word_count)
train.head()

   id                                               text  target  word_count
0   1  Our Deeds are the Reason of this #earthquake M...       1          13
1   4             Forest fire near La Ronge Sask. Canada       1           7
2   5  All residents asked to 'shelter in place' are ...       1          22
3   6  13,000 people receive #wildfires evacuation or...       1           8
4   7  Just got sent this photo from Ruby #Alaska as ...       1          16

In [19]:
def remove_urls(sent):
    return re.sub('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+','',sent)

train['text'] = train.text.apply(remove_urls)
train

,id,text,target,word_count
0,1,Our Deeds are the Reason of this #earthquake M...,1,13
1,4,Forest fire near La Ronge Sask. Canada,1,7
2,5,All residents asked to 'shelter in place' are ...,1,22
3,6,"13,000 people receive #wildfires evacuation or...",1,8
4,7,Just got sent this photo from Ruby #Alaska as ...,1,16
...,...,...,...,...
7608,10869,Two giant cranes holding a bridge collapse int...,1,11
7609,10870,@aria_ahrary @TheTawniest The out of control w...,1,20
7610,10871,M1.94 [01:04 UTC]?5km S of Volcano Hawaii.,1,8
7611,10872,Police investigating after an e-bike collided ...,1,19
7612,10873,The Latest: More Homes Razed by Northern Calif...,1,13

In [20]:
import emoji

In [21]:
def emoji_to_text(sent):
    e_sent = emoji.demojize(sent)
    emo = re.findall(':(.*?):',e_sent)
    for e in emo:
        e_sent = e_sent.replace(':{}:'.format(e),'{}'.format(e))
    return e_sent

train['text'] = train['text'].apply(emoji_to_text)

In [22]:
def remove_hashtags(text):
    return re.sub('#\w*[a-zA-Z]\w*','',text)

train['text'] = train['text'].apply(remove_hashtags)
train

,id,text,target,word_count
0,1,Our Deeds are the Reason of this May ALLAH Fo...,1,13
1,4,Forest fire near La Ronge Sask. Canada,1,7
2,5,All residents asked to 'shelter in place' are ...,1,22
3,6,"13,000 people receive evacuation orders in Ca...",1,8
4,7,Just got sent this photo from Ruby as smoke f...,1,16
...,...,...,...,...
7608,10869,Two giant cranes holding a bridge collapse int...,1,11
7609,10870,@aria_ahrary @TheTawniest The out of control w...,1,20
7610,10871,M1.94 [01:04 UTC]?5km S of Volcano Hawaii.,1,8
7611,10872,Police investigating after an e-bike collided ...,1,19
7612,10873,The Latest: More Homes Razed by Northern Calif...,1,13

In [23]:
def replace_username(sent):
    usernames = re.findall('@[A-Za-z0-9_$]*',sent)
    for un in usernames:
        un = re.sub('@','',un)
        sent = sent.replace('@{}'.format(un),'{}'.format(un))
    return sent

train['text'] = train['text'].apply(replace_username)
train

,id,text,target,word_count
0,1,Our Deeds are the Reason of this May ALLAH Fo...,1,13
1,4,Forest fire near La Ronge Sask. Canada,1,7
2,5,All residents asked to 'shelter in place' are ...,1,22
3,6,"13,000 people receive evacuation orders in Ca...",1,8
4,7,Just got sent this photo from Ruby as smoke f...,1,16
...,...,...,...,...
7608,10869,Two giant cranes holding a bridge collapse int...,1,11
7609,10870,aria_ahrary TheTawniest The out of control wil...,1,20
7610,10871,M1.94 [01:04 UTC]?5km S of Volcano Hawaii.,1,8
7611,10872,Police investigating after an e-bike collided ...,1,19
7612,10873,The Latest: More Homes Razed by Northern Calif...,1,13

In [24]:
def remove_number(text):
    return re.sub('#[0-9]+','',text)

train['text'] = train['text'].apply(remove_number)
train

,id,text,target,word_count
0,1,Our Deeds are the Reason of this May ALLAH Fo...,1,13
1,4,Forest fire near La Ronge Sask. Canada,1,7
2,5,All residents asked to 'shelter in place' are ...,1,22
3,6,"13,000 people receive evacuation orders in Ca...",1,8
4,7,Just got sent this photo from Ruby as smoke f...,1,16
...,...,...,...,...
7608,10869,Two giant cranes holding a bridge collapse int...,1,11
7609,10870,aria_ahrary TheTawniest The out of control wil...,1,20
7610,10871,M1.94 [01:04 UTC]?5km S of Volcano Hawaii.,1,8
7611,10872,Police investigating after an e-bike collided ...,1,19
7612,10873,The Latest: More Homes Razed by Northern Calif...,1,13

In [25]:
def remove_punctuations(text):
    return re.sub('[.?"\'`\,\-\!:;\(\)\[\]\\/“”]+?','',text)

train['text'] = train['text'].apply(remove_punctuations)
train

,id,text,target,word_count
0,1,Our Deeds are the Reason of this May ALLAH Fo...,1,13
1,4,Forest fire near La Ronge Sask Canada,1,7
2,5,All residents asked to shelter in place are be...,1,22
3,6,13000 people receive evacuation orders in Cal...,1,8
4,7,Just got sent this photo from Ruby as smoke f...,1,16
...,...,...,...,...
7608,10869,Two giant cranes holding a bridge collapse int...,1,11
7609,10870,aria_ahrary TheTawniest The out of control wil...,1,20
7610,10871,M194 0104 UTC5km S of Volcano Hawaii,1,8
7611,10872,Police investigating after an ebike collided w...,1,19
7612,10873,The Latest More Homes Razed by Northern Califo...,1,13

In [26]:
def remove_symbols(text):
    return re.sub('[~:*ÛÓ_å¨È$#&%^ª|+-]+?','',text)

train['text'] = train['text'].apply(remove_symbols)
train

,id,text,target,word_count
0,1,Our Deeds are the Reason of this May ALLAH Fo...,1,13
1,4,Forest fire near La Ronge Sask Canada,1,7
2,5,All residents asked to shelter in place are be...,1,22
3,6,13000 people receive evacuation orders in Cal...,1,8
4,7,Just got sent this photo from Ruby as smoke f...,1,16
...,...,...,...,...
7608,10869,Two giant cranes holding a bridge collapse int...,1,11
7609,10870,ariaahrary TheTawniest The out of control wild...,1,20
7610,10871,M194 0104 UTC5km S of Volcano Hawaii,1,8
7611,10872,Police investigating after an ebike collided w...,1,19
7612,10873,The Latest More Homes Razed by Northern Califo...,1,13

In [27]:
from sklearn.model_selection import train_test_split

d_train,d_test = train_test_split(train,test_size = 0.2,random_state=0)

print("train shape : ", d_train.shape)
print("valid shape : ", d_test.shape)

train shape :  (6090, 4)
valid shape :  (1523, 4)

In [28]:
from nltk.corpus import stopwords
stop = list(stopwords.words('english'))

In [29]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(decode_error = 'replace',stop_words = stop)

X_train = vectorizer.fit_transform(d_train.text.values)
X_test = vectorizer.transform(d_test.text.values)

y_train = d_train.target.values
y_test = d_test.target.values

print("X_train.shape : ", X_train.shape)
print("X_train.shape : ", X_test.shape)
print("y_train.shape : ", y_train.shape)
print("y_valid.shape : ", y_test.shape)

X_train.shape :  (6090, 14300)
X_train.shape :  (1523, 14300)
y_train.shape :  (6090,)
y_valid.shape :  (1523,)

In [30]:
from sklearn.linear_model import LogisticRegression

lreg = LogisticRegression()
lreg.fit(X_train,y_train)

LogisticRegression()

In [31]:
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix

In [32]:
lreg_prediction = lreg.predict(X_test)
lreg_accuracy = accuracy_score(y_test,lreg_prediction)
print("training accuracy Score    : ",lreg.score(X_train,y_train))
print("Validdation accuracy Score : ",lreg_accuracy )

training accuracy Score    :  0.9576354679802955
Validdation accuracy Score :  0.799080761654629

In [33]:
def preprocessing(df):
    #df.drop('keyword',axis=1,inplace=True)
    #df.drop('location',axis=1, inplace=True)
    df['Char_length']       = df['text'].apply(len)
    df['word_count']        = df.text.apply(word_count)
    df['text']              = df.text.apply(remove_urls)
    df['text']              = df['text'].apply(emoji_to_text)
    df['text']              = df.text.apply(remove_hashtags)
    df['text']              = df.text.apply(replace_username)
    df['text']              = df.text.apply(remove_number)
    df['text']              = df.text.apply(remove_punctuations)
    df['text']              = df.text.apply(remove_symbols)
                                            
    return df

In [34]:
processed_test = preprocessing(test)

In [35]:
processed_test

,id,keyword,location,text,Char_length,word_count
0,0,NaN,NaN,Just happened a terrible car crash,34,6
1,2,NaN,NaN,Heard about is different cities stay safe eve...,64,9
2,3,NaN,NaN,there is a forest fire at spot pond geese are ...,96,19
3,9,NaN,NaN,Apocalypse lighting,40,4
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan,45,8
...,...,...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES Ò SAFETY FASTENE...,55,8
3259,10865,NaN,NaN,Storm in RI worse than last hurricane My citya...,139,23
3260,10868,NaN,NaN,Green Line derailment in Chicago,55,6
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook HWO,65,7
3262,10875,NaN,NaN,has activated its Municipal Emergency Plan,68,8

In [36]:
def bagofword(df):
    X = vectorizer.transform(df.text.values)
    return X    

def predict_test(model,x):
    return model.predict(x)

In [38]:
X_test = bagofword(processed_test)
target = predict_test(lreg,X_test)
submission['target'] = target
submission.to_csv('submission.csv',index=False)
submission.head()

   id  target
0   0       1
1   2       0
2   3       1
3   9       0
4  11       1